
@font-face {
    font-family: 'pokemon-font';
    src: url(../../../assets/font/MilkyNice-Clean.ttf) FORMAT('truetype');
}

*{
    font-family: 'pokemon-font', sans-serif;
    padding:0;
    margin:0;

}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

.division{
    width: 200px;
}

.division:hover{
    transform:scale(1.07);
    z-index:2;
}
.button:hover{
    transform:scale(1.07);
    z-index:2;
}

a{
    text-decoration: none;
}

li{
    list-style-type: none;
}

.box-pokemon img{
    width: 100%;
}

@media(max-width: 720px){
    .division{
        display: flex;
        flex-direction: column;
        width: 100px;
    }
}

@media(max-width: 720px){
    .division{
        width: 50px;
    }
}